<!DOCTYPE html>
<html>
<body>

Select a file to upload:<br>
<form action="/_createnew" method="post" enctype="multipart/form-data">
  <label for="file">File: </label>
  <input type="file" name="fileToUpload" id="fileToUpload"><br>

  <label for="title">Title: </label>
  <input type="text" name="title"></input><br>

  <label for="bibtex">Bibtex: </label><br>
  <textarea name="bibtex" rows="10" cols="100"></textarea><br>

  <input type="submit" value="Upload" name="submit">
</form>

</body>
</html>
